.customSlider {
	width: 100vw;
	padding: 0;
	margin: 0;
}

.customSlider .slick-list {
	width: 100vw;
}

.customSlider .slick-track {
	width: 100vw;
}

.customSlider .slidItem {
	padding: 0;
	margin: 0;
}
