.productslider .slick-arrow ::before {
    background-color: #fcc101 !important;
    color: #fcc101 !important;
    border-radius: 20px !important;
}
.slick ::before {
    background-color: none !important;
    color: #000000 !important;
    border-radius: 20px !important;
}
.slickslide{
    background-color: #fff;
}
@media only screen and (max-width:800px) {
    .productslider{
    padding: 10px 0 5px 0 !important;}
    
}